
<div class="container-fluid">

<div class="card mt-3">
  <div class="card-header bg-info text-white">
   <h5> Dem Form Controls</h5>
  </div>
  <div class="card-body">

    <div class="row">
      <div class="card"   style="width:800px; margin: 50px">
        <div class="card-header">
          <h4>Forms Controls</h4>
        </div>
        <div class="card-body">
      <app-demo-form-controls></app-demo-form-controls>
        </div>
      </div>
      <div class="card"   style="width:600px; margin: 5px">
        <div class="card-header">
          <h4>Forms Arrays</h4>
        </div>
        <div class="card-body">
      <app-demo-form-array></app-demo-form-array>
        </div>
      </div>
 </div>


  </div>
</div>
